<div class="wrapper-grey">
  <div class="container text-center">
    <div class="row">
    <h1>Don't judge pls</h1>
    <% @cocktails.each do |cock| %>
      <div class="col-xs-12 col-sm-4 col-l-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path((cock.photo || 'default.png'), height: 300, width: 400, crop: :fill)%>')">

          <div class="card-description">
            <h3><%= cock.name %></h3>
          </div>
          <div class="card-link form-inline">
            <p><%= link_to 'Show Details', cocktail_path(cock) %></p>
            <p><%= link_to 'Edit', edit_cocktail_path(cock) %></p>
            <p><%= link_to 'Delete', cocktail_path(cock), method: :delete, data: { confirm: "Are you sure?" } %></p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="create text-center">
  <%= link_to 'Create a new Cocktail', new_cocktail_path %>
</div>
