<div class="container text-center">
  <h1>Your selected Cocktail</h1>
  <h2><%= @cocktail.name %></h2>
  <div class="ingred">
    <h2>Ingredients: </h2>
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %> <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %></p>
      <%= link_to "Delete", cocktail_dose_path(dose), class: "label label-warning", method: :delete %>
    <% end %>
  </div>
</div>
<%= render template: 'doses/_form.html.erb' %>
<div class="text-center">
  <%= link_to "Back", cocktails_path %>
  <%= link_to "Edit", edit_cocktail_path %>
</div>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
